/* container */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f6f8;
}

/* judul*/
.title {
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 18px;
  letter-spacing: 1px;
}

/* card */
.formContainer {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  padding: 32px 28px 24px 28px;
  margin-top: 12px;
}

.formContainer h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.formSection {
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-size: 15px;
  color: #444;
  margin-bottom: 6px;
  font-weight: 500;
}

.formInput {
  padding: 10px 12px;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  font-size: 16px;
  background: #f9fafb;
  transition: border 0.2s;
}

.formInput:focus {
  border-color: #0070f3;
  outline: none;
  background: #fff;
}

.submitBtn {
  padding: 12px 0;
  background: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s;
  box-shadow: 0 2px 8px rgba(0, 112, 243, 0.08);
}
.submitBtn:hover {
  background: #005bb5;
}
